.popup_confirm {
    width: 100px;
    background-color: #fafafa;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    z-index: 10;
    position: absolute;
    border: 1px solid #b9b9b9;
}

.popup_confirm p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

.popup_btns {
    gap: 5px;
    display: flex;
    justify-content: space-between;
}

.popup_btnYes,
.popup_btnNo {
    padding: 8px;
    border: none;
    border-radius: 4px;
    flex: 1;
    font-size: 12px;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
    color: #ffffff;
    cursor: pointer;
}

.popup_btnYes {
    background-color: #3a9ff1;
}

.popup_btnNo {
    background-color: #ff576b;
}

.popup_btnYes:hover,
.popup_btnNoo:hover {
    opacity: 1;
    transform: scale(1.3);
}