.modal {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_conteudo {
    padding: 1.25rem;
    width: 25rem;
    height: 41.25rem;
    background-color: #fff;
    border-radius: 0.625rem;
    position: relative;
}

.modal_conteudo h2 {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    font-weight: bold;
    font-size: 1.55rem;
    font-family: sans-serif;
}

.modal_conteudo label {
    font-weight: bold;
    margin-left: 1.25rem;
}

.modal_conteudo input {
    width: 20rem;
    margin-left: 1.25rem;
}

h2 {
    margin-bottom: 1.25rem;
}

.tipo_transacao {
    display: table-row;
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
}

.tipo_transacao button {
    width: 44%;
    padding: 0.625rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    color: white;
}

.formulario_g {
    margin-bottom: 0.3125rem;
}

.formulario_g select {
    width: 20rem;
    height: 3.125rem;
    margin-left: 1.25rem;
    border-radius: 0.3125rem;
}

.close {
    position: absolute;
    top: 2.5rem;
    right: 3.125rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
}

.confirmar_btn {
    width: 14.75rem;
    padding: 0.625rem;
    display: block;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    background-color: #7978d9;
    color: white;
    font-size: 1rem;
    margin: 0 3.5625rem;
}

.confirmar_btn:hover {
    background-color: #3700b3;
}