.filter-button {
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
}

.filter-button img {
    width: 14px;
    height: 14px;
}

.filter-button strong {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}