.background_header {
    margin: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.logo_container {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo_name {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}

.header_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.spacing_items {
    margin-right: 10px;
}